node_modules
package-lock.json
/.ideia/
.vscode/
.DS_Store
/.idea/
/.vscode/
bun.lock


# pldev fastlane
fastlane/shared/screenshots/__pycache__/
fastlane/android/fastlane/screenshots/generated
fastlane/ios/fastlane/screenshots/generated